.section-login{
    /* aparence */
    max-width:100rem;
    height: 55rem;
    border-radius: 0.3rem;

    /* element position */
    margin: auto;
    margin-top: 5rem;

    /* items position */
    display: none;
}
.section-login_banner {
    /* aparence */
    max-width: 50rem;
    height: 100%;
}
.section-login_banner img {
    /* aparence */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FORMULARIO */
.form-login {
    /* aparence */
    width: 100%;

    /* items position */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login h2 {
    /* aparence */
    font-size: 3rem;

    /* items position */
    padding: 0;
    margin: 0;
}
